html {
  box-sizing: border-box;
  scroll-behavior: smooth; 
}

*, *:before, *:after {
  box-sizing: inherit;
}

div {
  margin: 0px;
}

body {
  /* border: 3px solid #000000; */
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  
}

#main {
  /* border: 1px solid red;    */
  display: flex;
  width: 50rem;
  flex-direction: column;
}

h2 {
  font-size: 25px;
}

h3 {
  margin: 0;
}

p.description, *::placeholder {
  font-size: 14px;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 5px;
}

p.description {
  max-width: 580px;
}

input:not([type="checkbox"]) {
  display: block;
  margin-bottom: 35px;
  margin-right: 20px;
  line-height: 2;
  width: 180px;
  outline: none;
}

#dset_author1_name {
  margin-bottom: 0 !important;
}


input[type="text"], textarea, input[type="date"], input[type="select"] {
  font-size: 14px;
  border-radius: 5px;
  /* border-style: solid; */
}

input[type="text"] {
  margin: 0,
}

label:not([class="checkbox"]) span, h3 {
  font-weight: bold;
  font-size: 16px;
}

.container {
  display: flex;
  align-items: center;
}

textarea {
  display: block;
  margin-bottom: 35px;
  width: 600px;
  font-family: 'Open Sans', sans-serif;
}

/* Form Validation CSS */

.invalid {
  background-color: #ffdddd;
  border-color: red;
  border-width: 1px;
  border-style: solid;
  box-shadow: 1px 1px 1px red;
  outline: none;
}

.invalid:focus {
  outline: none;
  border-color: red;
  border-width: 2px;
  border-style: solid;
}

input:focus {
  outline: normal;
}

.error {
  display: none;
  color: red;
  font-weight: normal !important;
  font-size: 14px !important;
}

.input-error-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#form-error {
  display: none;
  color: red;
}
