html {
  box-sizing: border-box;
  scroll-behavior: smooth; 
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /* border: 3px solid #000000; */
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
}

h2 {
  /* margin-top: 5px; */
  font-size: 25px;
  margin-bottom: 35px;
}

h3 {
  margin: 0;
}

div {
  margin: 0px;
}

#main {
  /* border: 1px solid red;    */
  display: flex;
  width: 53rem;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.button {
  width: 150px;
  height: 70px;
  background-color: #1E1E1E;
  border-radius: 7px;
  border: none;
  outline: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#save_progress_button {
  position: fixed;
  bottom: 5px;
  right: 30px;   
}

#submit_form_button {
  position: fixed;
  bottom: 0;
  right: 30px;
}

p, ul {
  margin-top: 0;
  font-size: 14px;
}

p.description, *::placeholder {
  font-size: 13px;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 5px;
}

p.description {
  max-width: 600px;
}

input:not([type="checkbox" ]):not([type="submit" ]) {
  display: block;
  margin-right: 20px;
  margin-bottom: 35px;    
  line-height: 2;
}

input[type="text"], textarea, input[type="number"] {
  font-size: 14px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1.5px;
  font-family: Arial;
}

input[type="text"] {
  width: 250px;
}

.measurement-dates input, input[type="number"] {
  width: 200px ;
}

textarea {
  display: block;
  margin-right: 20px;
  margin-bottom: 35px;
  width: 600px;
  padding: 5px;
}

input[type=checkbox] {
    height: 15px;
    width: 15px;
}

#dset_external_url {
  width: 600px !important;
  margin-bottom: 35px !important;
}

.author-details input{
  margin-bottom: 0 !important;
}

.author-details input {
  width: 250px ;
  margin-top: 5px;
}

.author-details p {
  margin-top: 0px;
  margin-bottom: 0px;
}

div:not([class="checkbox"]) span, h3 {
  font-weight: bold;
  font-size: 16px;
}

div.checkbox span {
  font-size: 14px;
  font-weight: normal !important;
}

div.checkbox {
    display: flex;
    align-items: center;
}

.checkboxes-block-container {
  /* border: solid 2px; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.checkboxes-container {
  /* border: solid; */
  /* width: 600px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
}

.measurement-dates {
  /* width: 440px; */
  display: flex;
  justify-content: flex-start;
}

#show-opt-textboxes {
  margin-bottom: 35px !important;
}

.show-opt-button {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  background-color: rgb(60, 60, 60);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  outline: none;
  color: white;
  text-decoration: none;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
}

/* https://www.w3schools.com/howto/howto_js_collapsible.asp */
.active, .show-opt-button:hover {
  background-color: rgb(150, 150, 150);
}

.show-opt-button:after {
  content: "+"; /* Unicode character for "plus" sign (+) */
  float: right;
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;
  right: 10px;
}

.active:after {
  content: "-"; /* Unicode character for "minus" sign (-) */
  /* font-weight: bold; */
  float: right;
  font-size: 35px;
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;
  right: 10px;
}

a, a:visited, a:active, a:hover {
  text-decoration: none;
  color: rgb(7, 52, 255);
}

.optional-fields {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.page {
  display: none;
}

.container {
  display: flex;
  align-items: center;
}

#confirm-num-tsets {
  display: none;
  margin-left: 20px;
}

#data-loss-warning {
  color: red;
  margin-left: 10px;
  width: 180px;
  display: none;
}

.next_button, .prev_button {
  height: 30px;
  width: 100px;
  position: relative;
}

.fa-arrow-right {
  margin-left: 4px;
  font-size: 14px;
}

.fa-arrow-left {
  position: absolute;
  left: 2px;
  font-size: 14px;
}

/**
 * Form Validation
 */

.invalid {
  background-color: #ffdddd;
  border-color: red;
  border-width: 1px;
  border-style: solid;
  box-shadow: 1px 1px 1px red;
  outline: none;
}

.invalid:focus {
  outline: none;
  border-color: red;
  border-width: 2px;
  border-style: solid;
}

input:focus {
  outline: normal;
}

.input-error-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.form-error {
  display: none;
  color: red;
  margin-top: 20px;
}

.save-error {
  display: none;
  color: red;
  position: fixed;
  bottom: 30px;
  right: 30px;   
  width: 150px;
  height: 170px;
  font-size: 14px;
}

.error {
  display: none;
  color: red;
  font-weight: normal !important;
  font-size: 14px !important;
}

.measurement-dates .input-error-container {
  /* align-items: center; */
  margin-right: 30px;
}

.author-details .input-error-container {
  align-items: center;
}

/**
 * Landing Page
 */

.form-error.landing-page {
  display: none;
  color: red;
}

#submit-button.landing-page {
  margin-top: 40px;
  width: 100px;
  height: 30px;
}

#dset_author1_country.landing-page {
  margin-bottom: 35px !important;
}

/**
 * Add/remove author buttons
 */

#add-author-btn {
  margin-top: 7px;
  margin-bottom: 35px;
  background-color: Transparent;
  cursor: pointer;
  outline: none;
}

#add-author-btn span {
  font-size: 14px;
  font-weight: normal;
}

.fa-plus-circle {
  font-size: 14px;
}

.fa-times {
  color: black;
  font-size: 16px;
}

.remove-author-btn {
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 2px;
}

.author-title {
  position: relative;
  width: 250px;
}